.img{
    width: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.owner{
    display: inline-block;
    font-weight: 400;
    color: black;
}

/* like and reply icons */
.icon{
    display: inline-block;
    padding: 1rem;
}

.container{
    padding: 3rem 5rem;
    text-align: left;
}

.more{
    display: inline-block;
    margin-left: 4rem;
}

.dropdown{
    background-color: #FFBF00;
    border-color: transparent;
}

.dropdown:hover{
    background-color: black;
}


.time{
    margin-bottom: 2rem;
}

.btn{
    margin: auto;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.btn:hover{
    background-color: #FFBF00;
    color: black ;
}


