.btn{
    margin: auto;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    margin: 0 1rem;
}
.btn:hover{
    background-color: #FFBF00;
    color: black ;
}

.btn_container{
    text-align: center;
}
.title{
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 3rem;
}
.replies{
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}