.container{
    width: 25rem;
    margin: auto;
    background-color: #DFFF00;
    padding: 3rem 2rem ;
    border-radius: 0.25rem;
    margin-bottom: 5rem;
}

.title{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    font-family: 'Varela Round', sans-serif;
}

.input{
    padding-bottom: 1rem;
}

.btn{
    color: black;
    background-color: white;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 0.25rem;
    border: black solid 1px;
}

.btn:hover{
    color: white;
    background-color: black;
}

.img{
    border-radius: 50%;
    width: 15rem;
}

.click_container{
    padding-top: 1rem;
}
.click{
    color: black;
}

.click:hover{
    color: black;
}
