.info{
    padding-top: 3rem;
}

.btn{
    margin: auto;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.btn:hover{
    background-color: #FFBF00;
    color: black ;
}
.col{
    height: 16rem;
}

.stories{
    height: 16rem;
    padding-top: 8rem;
}

.container { 
    position: relative; 
    width: 12rem; 
    height: 12rem; 
    overflow: hidden; 
    border-radius: 50%; 
} 
.container img { 
    width: 100%; 
    height: auto;
}


.about_me{
    padding-top: 2rem;
}