.img_container { 
    position: relative; 
    width: 3rem; 
    height: 3rem; 
    overflow: hidden; 
    border-radius: 50%;
} 
.img_container img { 
    width: 100%; 
    height: auto;
}


.owner{
    display: inline-block;
    color: black;
}

.btn{
    margin: auto;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}
.btn:hover{
    background-color: #FFBF00;
    color: black ;
}