.img_container { 
    position: relative; 
    width: 3rem; 
    height: 3rem; 
    overflow: hidden; 
    border-radius: 50%;
} 
.img_container img { 
    width: 100%; 
    height: auto;
}

.profile{
    text-align: left;
}

.owner{
    font-weight: 400;
    color: black;
    padding-left: 0.5rem;
}

.title{
    text-transform: uppercase;
}

.time{
    text-align: left;
}
.container{
    padding-bottom: 3rem;
}

.more{
    display: inline-block;
}

.dropdown{
    display: inline-block;
    background-color: transparent;
    color: black;

}
.dropdown:focus{
    box-shadow: none;
}

.icon{
    display: inline-block;
    padding: 1rem;
}


.content, .content:hover{
    color: black;
    text-decoration: none !important;
}

.link, .link:hover{
    color: black;
    text-decoration: none;
}

.card{
    border: #00BFFF solid 2px;
    border-radius: 0.5rem;
}
