/* profile picture and username */
.img_container { 
    position: relative; 
    width: 3rem; 
    height: 3rem; 
    overflow: hidden; 
    border-radius: 50%;
} 
.img_container img { 
    width: 100%; 
    height: auto;
}


.owner{
    display: inline-block;
    font-weight: 400;
    padding-right: 1rem;
    color: black;
}

.profile{
    text-align: left;
}

/* story detail card  */
.card{
    margin: auto;
    border: #FF0090 solid 3px;
}

/* like and comment icons */

.icon{
    display: inline-block;
    padding-left: 2rem;
}

.more{
    display: inline-block;
}

