.img{
    width: 3rem;
    margin-right: 1rem;
}
.profile{
    text-align: left;
}

.owner{
    display: inline-block;
    font-weight: 400;
    padding-right: 14rem;
    color: black;
}

.title{
    text-transform: uppercase;
}

.time{
    text-align: left;
}
.container{
    padding-bottom: 3rem;
}

.more{
    display: inline-block;
}

.dropdown{
    display: inline-block;
    background-color: transparent;
    color: black;

}
.dropdown:focus{
    box-shadow: none;
}

.icon{
    display: inline-block;
    padding-left: 2rem;
}

.content, .content:hover{
    color: black;
    text-decoration: none !important;
}
